.skills-main-div {
  display: flex;
}
.skills-text-div {
  margin-left: 30px;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 15px;
}

.skills-image-div > img {
  /* margin-left: 50px; */
  margin-top: 50px;
  max-width: 100%;
  max-height: 500px;
  border-radius: 25px;
}

.skills-heading {
  font-size: 40px;
  font-weight: bold;
}

.sub-heading {
  font-size: 20px;
  opacity: .6;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
}
