.startup-projects-main {
  display: flex;
}

.startup-projects-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.starup-project-image > img {
  max-width: 100%;
  height: auto;
}

.project-card-head {
  color: rgb(36, 41, 46);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
}

.startup-project-text {
  display: flex;
  justify-content: space-between;
}

.project-card-description {
  color: rgb(88, 96, 105);
}
.project-inline {
  flex: 1;
  display: flex;
  text-align: center;
}
.project-card {
  flex: 1;
  cursor: pointer;
  /* margin: 10px 10px 10px; */
}
.project-image {
  height: 100px;
  width: auto;
}

.saaya-health-div{ 
  flex-direction: row
}
.nextu-div {
  cursor: pointer;
}

@media (max-width: 768px) {
  .project-inline {
    display: block;
  }
  .project-subtitle{
    font-size: 16px;
    text-align: center;
  }
}
